.html,body{
    margin: 0px;
}
a{
    color:white;
    text-underline-position: unset;
}
ul li{
    color: white;
    display:inline;
    margin-left: 10px;
}
li:hover{
    cursor: pointer;
}
li:first-child{
    margin-left:0px;
}
#searchText{
    position:absolute;
    top:10px;
    left:75%;
    justify-items: flex-end;
    border-radius: 3px;
    height: 35px;
    width: 150px;
}
#searchBtn{
    position:absolute;
    top:10px;
    left:88%;
    border-radius: 10px;
    border-color: steelblue;
    color: salmon;
    background-color: black;
    height: 40px;
    width: 80px;
}
#searchBtn:hover{
    background-color: salmon;
    color: white;
}
.nav{
    height:60px;
    width: 100%;
    margin-left: 0px;
   
    background-color: black;
    position:absolute;
}
